@font-face {
  font-family: 'Roboto';
  src: url("../static/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../static/fonts/Roboto/Roboto-Medium.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../static/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
}
